button {
    @apply cursor-pointer rounded-md;
    /* default height h-10 */
}

.global_btn {
    @apply min-w-30 px-6 min-h-10 bg-primary text-white;

    &.medium_height {
        @apply min-h-8;
    }

    &.large_height {
        @apply min-h-12;
    }

    &.rounded_full {
        @apply rounded-full;
    }

    &.rounded_btn_sm {
        @apply rounded-full w-10 min-w-10 h-10 min-h-10 p-0;
    }

    &.w_fit {
        @apply w-fit min-w-fit;
    }

    &.bg_primary {
        @apply bg-primary text-white outline-none;
    }

    &.bg_transparent {
        @apply bg-transparent outline-none text-black!;
    }

    &.outline_primary {
        @apply text-primary border border-primary bg-transparent;
    }
    &.small_outline_primary {
        @apply text-primary border border-primary bg-transparent h-8! min-h-8!;
    }


    /* danger outline button */
    &.danger_outline {
        @apply text-red-500 border border-red-500 bg-transparent;
    }

    /* success outline button */
    &.success_outline {
        @apply text-success border border-success bg-transparent;
    }
}

.fit_btn {
    min-width: fit-content !important;
    padding: 0 !important;
}
.icon_btn {
    @apply rounded-full bg-transparent h-8! min-h-8! w-8! min-w-8!;
}