
/* Scrollbar track */
.custom_scrollbar::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

.custom_scrollbar::-webkit-scrollbar-thumb {
  @apply bg-primary;
}

/* Scrollbar track (background of the scrollbar) */
.custom_scrollbar::-webkit-scrollbar-track {
  background-color: #E5E7EB;
  border-radius: var(--radius-full);
}
.custom_scrollbar::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: var(--radius-full);
}